/* navegation section */
.navegation{
    height: 100vh;
}
.navegation.open {
    width: 250px;
}
.ul {
    display: flex;
    flex-direction: column;
	gap: 10px;
	width: 100%;
}

.text {
    display: flex;
}

/* coffe section  */

.coffe-conteiner {
    align-items: center;
}
.vapour {
    display: flex;
}
.container {
    top: 50px;
    margin: 0 150px;
}

.cup {
    width: 280px;
}

.plate {
    width: 400px;
}

.handle {
    width: 160px;
    right: -70px;
}

.title-container{
    display: flex;
}
/* main area */

.main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.skills-section {
    display: flex;
}
.blog-section{
    display: flex;
}

.blog-section .img-conteiner{
    width: 80%;
}

/* blog section */
.blog-img-conteiner{
	width: 400px;
}